<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.midangkuy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.midangkuy.AboutActivity"
            android:label="About"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver
            android:name="com.example.midangkuy.ReminderReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <activity
            android:name="com.example.midangkuy.ReminderActivity"
            android:label="Reminder"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.midangkuy.MainActivity"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.example.midangkuy.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>